ffmpeg_python~=0.2.0
static-ffmpeg~=2.5
matplotlib~=3.5
numpy~=1.21
python_speech_features~=0.6
scipy~=1.10
platformdirs~=4.2
pytsmod~=0.3.7
PySimpleGUIWx~=0.17.2; platform_system == 'Windows'
PySimpleGUIQt~=0.35.0; platform_system != 'Windows'
PySide2~=5.15; platform_system != "Windows"
